:root {
  /*** COLORES ***/
  --principal: #bbcbd3;
  --accion: #f7feef;
  --secundario: #65aab3;
  --blanco: #f3fefd;
  --complemento1: #e2ebf8;
  --bg: #f5f5f5;
  --gris: #303030;
  --grisFuentes: #181818;
  /*** FUENTES ***/
  --fuenteTextos: "Poppins", sans-serif;
  --fuenteTitulos: "Baskervville", serif;
  /* BORDERS */
  --radius: 12px;
  /* SOMBRA */
  --shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.32);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 8em;
}

body {
  line-height: 1.8;
  position: relative;
  color: var(--grisFuentes);
  font-family: var(--fuenteTextos);
  background-color: var(--blanco);
}

h1,
h2,
h3,
h4 {
  font-family: var(--fuenteTitulos);
  text-transform: initial;
  line-height: 1.05;
}

h1 {
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(2rem, 1.5rem + 1vw, 5em);
  margin-bottom: 1.5rem;
  color: var(--secundario);
  font-weight: 900;
}

h3 {
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
}

h4 {
  font-size: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
}

p,
a {
  font-family: var(--fuenteTextos);
  word-wrap: break-word;
  font-size: clamp(1.125rem, 1.089rem + 0.18vw, 1.25rem);
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in;
  display: block;
}

a:hover {
  transform: scale(1.025);
}

img {
  border-style: none;
  max-width: 100%;
}

ul li {
  margin: 0 0 1em;
  list-style: none;

  font-family: var(--fuenteTextos);
  word-wrap: break-word;
  font-size: clamp(0.6rem, 1rem + 0.4vw, 1.3rem);
}
/***************** ESTILOS UNIVERSALES ****************/
.boton-whatsapp {
  position: fixed;
  bottom: 8rem;
  right: 12px;
  z-index: 100;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    0.5s 6 alternate-reverse both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s 6
    alternate-reverse both;
  transition: all 0.2s ease-in-out;
}

@media screen and (width >=800px) {
  .boton-whatsapp::before {
    content: "Escríbenos";
    font-size: 16px;
    color: white;
    background-color: rgba(46, 218, 46, 0.702);
    border: 4px solid white;
    padding: 8px 12px;
    border-radius: 16px;
  }
}

.boton-whatsapp:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(190, 190, 190, 0.7));
  filter: drop-shadow(5px 5px 5px rgba(190, 190, 190, 0.7));
}

@-webkit-keyframes glowing345 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes glowing345 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.wrapper {
  width: min(calc(100% - 20px), 1200px);
  margin-inline: auto;
  padding: 6em 0 3em;
}

.flow > * + *:not(h1) {
  margin-top: 1.2em;
}

.resaltar {
  color: var(--principal);
}

.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: clamp(8px, 2vw, 12px) clamp(20px, 5vw, 40px);
  background-color: var(--blanco);
  z-index: 100;
  color: var(--grisFuentes);

  button {
    color: var(--grisFuentes);
    width: 170px;

    span {
      color: var(--grisFuentes);
    }
  }

  .logo-content {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
.nav small {
  display: none;
}
.reverse {
  flex-direction: row-reverse;
}

/*boton*/
button {
  width: 220px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: var(--grisFuentes);
  background: none;
  position: relative;
  cursor: pointer;
  padding-bottom: 2em;
  font-weight: 700;

  span {
    color: var(--grisFuentes);
  }
}

button > div,
button > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

button:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0; /* Línea centrada inicialmente */
  width: 50%; /* Línea ocupa la mitad del ancho */
  background: currentColor;
  transition: all 0.4s ease-out; /* Suaviza la animación */
}

button:hover:before {
  left: 0; /* Línea comienza desde el inicio */
  width: 100%; /* Línea se expande a todo el ancho */
}

button .clone > *,
button .text > * {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

button .clone > * {
  transform: translateY(60px);
}

button:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

button:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

button:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

button:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}
/* icon style and hover */
button svg {
  width: 20px;
  position: absolute;
  right: 10px; /* Posición de la flecha a la derecha */
  top: 50%;
  transform: translateY(-50%) rotate(180deg); /* Flecha apunta hacia el texto inicialmente */
  transition: transform 0.4s ease; /* Suaviza el giro */
}

button:hover svg {
  transform: translateY(-50%) rotate(0deg); /* Flecha gira hacia la derecha al hacer hover */
}
button:active {
  transform: translate(2px, 2px);
}

/* Header */
.hero {
  background: rgb(187, 203, 211);
  background: linear-gradient(
      101deg,
      rgba(187, 203, 211, 1) 0%,
      rgba(170, 219, 225, 1) 16%,
      rgba(170, 219, 225, 1) 100%
    ),
    url("img/bgr.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 12px;

  .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    overflow: hidden;

    .content-hero {
      flex: 1 0 460px;
      color: var(--grisFuentes);
      max-width: 100%;
      padding: 8em 0 3em;

      button {
        margin-left: 10px;
        width: 270px;
      }

      h1 span {
        color: var(--accion);
      }
    }

    img {
      -webkit-filter: drop-shadow(12px 8px 10px var(--accion));
              filter: drop-shadow(12px 8px 10px var(--accion));
      align-self: flex-end;
      width: min(100%, 436px);
      -o-object-fit: cover;
         object-fit: cover;
    }
  }
}

/* dos columnas */

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;

  & img {
    width: 100%;
    height: auto;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }

  & div {
    flex: 1 1 300px;
    max-width: 600px;
    display: grid;
    place-content: center;
    gap: 1rem;

    & ul {
      display: flex;
      flex-wrap: wrap;

      & span {
        color: var(--secundario);
        margin-right: 5px;

        & li {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

/* Galeria */

.galeria {
  background-color: rgb(218, 243, 248);
  background-image: linear-gradient(
      288deg,
      rgba(193, 219, 224, 0.6) 0%,
      rgba(166, 213, 223, 0.4) 30%,
      rgba(228, 241, 243, 0.7) 70%,
      rgba(222, 247, 252, 0.9) 100%
    ),
    url(img/fondo-section.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 100vmax var(--complemento1);
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);

  .galeria-contenido {
    display: grid;
    place-content: center;

    gap: 1.5rem;

    h2 {
      margin-inline: auto;
    }
  }
}
span {
  color: var(--grisFuentes);
}
.img-galeria {
  display: grid;
  place-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  img {
    max-width: 100%;
    height: auto;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }
}
/* proceso */

.proceso {
  display: grid;
  gap: 4rem;
  padding-bottom: 5rem;
  text-align: center;
  box-sizing: border-box;

  h2 {
    margin-inline: auto;
    margin-bottom: 4rem;
  }
}
.proceso-item {
  display: flex;
  align-items: center;
  gap: 4rem;

  span {
    color: var(--principal);
  }

  p {
    font-size: clamp(1.5rem, 1.3rem + 0.5vw, 4em);
  }
  button {
    color: var(--secundario);
    span {
      color: var(--secundario);
    }
  }

  img {
    border-radius: var(--radius);
    height: auto;
    box-shadow: var(--shadow);
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  img:hover {
    transform: scale(1.05);
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: 768px) {
  .proceso-item {
    flex-direction: column; /* Coloca la imagen encima del párrafo */
  }
}
@media (max-width: 568px) {
  .proceso-item {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .galeria-contenido {
    
    place-items: center;
  }
}

/* Testimonios */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
.testimonios {
  min-height: 70dvh;

  background-color: rgb(218, 243, 248);
  background-image: linear-gradient(
      288deg,
      rgba(193, 219, 224, 0.6) 0%,
      rgba(166, 213, 223, 0.4) 30%,
      rgba(228, 241, 243, 0.7) 70%,
      rgba(222, 247, 252, 0.9) 100%
    ),
    url(img/fondo-section.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 100vmax var(--complemento1);
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);
}
.slider {
  min-height: 60dvh;

  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid var(--principal);
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  text-align: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.slider__caption {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

/* Contenedor principal de las FAQs */
.faqs-container {
  display: grid;
  gap: 10px;

  h2 {
    margin-inline: auto;
  }

  .faq-singular {
    border-bottom: 1px solid var(--bg);
    cursor: pointer;
    overflow: hidden;
  }

  .faq-question {
    font-weight: bold;
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
  }
}

/* Icono "+" al lado de la pregunta */
.faq-question::after {
  content: "+";
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: var(--accion);
  transition: transform 0.3s;
}

/* Respuesta oculta por defecto */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  padding: 0 15px; /* Espacio interno */
  background-color: var(--blanco);
}

/* Mostrar la respuesta cuando el elemento está activo */
.faq-singular:focus-within .faq-answer,
.faq-singular:focus .faq-answer,
.faq-singular:target .faq-answer {
  max-height: 500px;
}

/* Cambiar el icono a "x" cuando esté abierto */
.faq-singular:focus-within .faq-question::after,
.faq-singular:focus .faq-question::after,
.faq-singular:target .faq-question::after {
  content: "×";
  transform: rotate(45deg);
}

/* Contacto */
.contacto {
  background-color: rgb(218, 243, 248);
  background-image: linear-gradient(
      288deg,
      rgba(193, 219, 224, 0.6) 0%,
      rgba(166, 213, 223, 0.4) 30%,
      rgba(228, 241, 243, 0.7) 70%,
      rgba(222, 247, 252, 0.9) 100%
    ),
    url(img/fondo-section.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 100vmax var(--complemento1);
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);

  .wrapper {
    display: grid;
    place-items: center;
    gap: 2em;
    text-align: center;

    button {
      width: 200px;
      color: var(--grisFuentes);

      span {
        color: var(--grisFuentes);
      }
    }

    img {
      -o-object-fit: cover;
         object-fit: cover;
      width: min(100%, 480px);
    }
  }
}

.iconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  div {
    padding: 20px 0;
    text-align: center;
    flex: 1 0 300px;
    display: grid;
    gap: 1em;
    place-items: center;

    div {
      width: 160px;
      height: 160px;
      background: radial-gradient(
        circle at 30% 30%,
        rgba(255, 255, 255, 0.98) 35%,
        rgba(255, 255, 255, 0.7) 70%
      );
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3),
        inset 0 -6px 12px rgba(255, 255, 255, 0.8),
        0 -6px 12px rgba(255, 255, 255, 0.6);
      padding: 40px 0;
      position: relative;
      transition: transform 0.2s ease;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        z-index: 1;
        max-width: 100px;
      }
    }
  }
}

/* footer */

.footer {
  background: rgb(187, 203, 211);
  background: linear-gradient(
      101deg,
      rgba(187, 203, 211, 1) 0%,
      rgba(170, 219, 225, 1) 16%,
      rgba(170, 219, 225, 1) 100%
    ),
    url("img/bgr.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    align-items: center;
    flex-wrap: wrap;
    padding: 2em 0 2em;

    a {
      color: var(--accion);
      text-decoration: none;
      font-weight: bold;
      font-size: 0.9rem;

      small {
        color: var(--grisFuentes);
      }
    }

    small {
      margin: 0;
      color: var(--grisFuentes);
    }
  }
}

/********* MEDIAQUERIES *********/

@media screen and (min-width: 767px) {
  .nav small {
    display: inline-block;
    color: var(--grisFuentes);
    font-family: var(--fuenteTitulos);
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 1.1;
  }

  .beneficios_puntos li {
    text-align: left;
  }
}
